.components-home {
  .home-table {
    height: 90vh;

    .home-portrait {
      width: 25em;
      height: 25em;
      clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    }

    .home-text {
      width: 40em;
      text-align: center;
      padding: 0 2em;
    }
  }
}
