$portrait-size: 25em;
$body-text-width: 42em;

.components-body {
  .body-table {
    margin-left: auto;
    margin-right: auto;
  }

  .portrait {
    width: $portrait-size;
    height: $portrait-size;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  }

  .body-text {
    width: $body-text-width;
  }
}
