.App {
  text-align: center;

  .app-background {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: radial-gradient(
      ellipse at center,
      rgb(249, 243, 239) 77%,
      rgb(255, 240, 215) 100%
    );
  }
}
