.App {
  width: 65em;
  margin: auto;
  
  font-size: 14px;
  color: rgba(0, 0, 0, 0.85);

  h1,
  h2 {
    text-align: center;
    font-weight: 600;
  }

  h1, p {
    margin-block-start: 0;
    line-height: 1.4em;
  }

  .center {
    text-align: center;
  }

  a {
    color: rgba(19, 75, 244, 0.85);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
